body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #ffffff;
  font-family: helvetica;
  background-image: url("./asets/gachon.jpg");
  background-size: cover;
  font-family: "Nanum Gothic", sans-serif;
}

canvas {
  position: absolute;
}

.hud {
  position: absolute;
  margin-left: 1em;
}

.hit {
  font-weight: bold;
  color: red;
}
